<% content_for :title, "Editing post" %>

<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div class="text-center">
  <%= link_to "Mostrar post", @post, class:'text-white btn btn-success p-2' %> |
  <%= link_to "Página pricipal", posts_path, class:'text-white btn btn-primary p-2' %>
</div>
